.main-stack {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


.main-stack > button {
    
    margin: 20px 0 40px 0;

}

.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    grid-row-gap: 20px;
    flex-wrap: wrap;
}

.flexbox-item1 {
    width: 1530px; 
    height: 300px;
    grid-area: header;
} 

.flexbox-item2 {
    align-self: flex-end;
    grid-area: content;

}

.loadingStyle {
    color: yellow;
}



